pandas==2.1.4
numpy>=1.23.2,<2.0.0
sentence-transformers==4.0.2
langchain==0.3.23
langchain-community==0.3.21
langchain-core==0.3.51
langchain-openai==0.3.12
langchain-text-splitters==0.3.8
openai==1.72.0
scikit-learn==1.6.1
chromadb==0.4.22
pydantic>=2.7.4,<3.0.0
flask==3.0.0
python-dotenv==1.0.0 